@import "tailwindcss";

/* Custom Scrollbar for sleek UI */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(167, 243, 208, 0.2); /* emerald-200 with low opacity */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(167, 243, 208, 0.4);
}
